:root {
    --primary: #000000;
    --secondary: #14213D;
    --tertiary: #FCA311;
    --grey: #E5E5E5;
    --white: #FFFFFF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Noto Serif", sans-serif;
    text-align: center;
}