/* initiate root colour palette */
:root {
    --primary: #0f0e17;
    --secondary: #14213D;
    --tertiary: #FCA311;
    --grey: #E5E5E5;
    --white: #FFFFFF;
}
/* reset default values */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
/* assign document wide font */
body {
    font-family: "Noto Serif", sans-serif;
    text-align: center;
}
/* assign heading font */
h1, h3 {
    font-family: "Poppins", sans-serif;
}
/* class styles */
.underline {
    /* text-decoration: underline; */
    border-bottom: 5px solid var(--primary);
}

.large-font {
    font-size: 3rem;
}

.larger-font {
    font-size: 5rem;
}

.row-flex {
    flex-direction: row;
}

.column-flex {
    flex-direction: column;
}

.top-padding {
    padding-top: 5vw;
}

/* navbar styling */
#navbar {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    width: 100vw;
    background-color: var(--primary);
    padding: 20px 0;
    font-size: 1rem;
    border-bottom: 1px solid var(--secondary);
}

#nav-links {
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

#nav-links li a {
    text-decoration: none;
    padding: 0 10px;
    color: var(--white);
    text-align: center;
}

#nav-links li a:hover {
    text-decoration: underline;
}
/* hero section styling */
.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 100dvh;
    width: 100vw;
    background-color: var(--primary);
    padding-top: 80px;
}

.profile-pic {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
    padding-left: 10px;
}

.hero > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

}

.title {
    color: var(--white);
    font-size: 3rem;
    padding: 20%;
}

.subtitle {
    color: var(--tertiary);
    font-size: 1.5rem;
    padding-bottom: 20%;
}
/* about section styling */
#about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    min-height: 75vh;
    width: 100vw;
    background-color: var(--white);
    padding: 10vw;
}

#about > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 0 20px;
}
/* skills section styling */
#skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    min-height: 75vh;
    width: 100vw;
    padding: 10vw;
    background-color: var(--grey);
    color: var(--primary);
}

.skills-title {
    font-size: 3rem;
}

#seperator {
    padding: 10vw;
    border-bottom: 1px solid var(--primary);
    width: 100vw;
}

#skills #seperator {
    width: 100vw;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
}

.lang {
    font-weight: bold;
    padding-bottom: 20px;
    font-family: "Poppins", sans-serif;
}

.skills-texts-div {
    padding: 5vw;
}

.skills-text {
    padding: 5vw;

}

.top-padding {
    padding-top: 5vw;
}
/* button component, reused in different parts of document */
.see-more {
    text-decoration: none;
    width: max-content;
    display: flex;
    align-items: center;
    gap: 10px;
    margin: auto;
    padding: 10px 10px;
    background-color: var(--secondary);
    color: var(--tertiary);
    font-size: 1.5rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease-in;

}

.see-more:hover {
    background-color: var(--primary);
    color: var(--white);
    
}

.skills-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding-top: 5vw;
}

#github-graph {
    padding: 5vw;
}
/* subpage content styling */
.content {
    background-color: var(--grey);
    color: var(--neutral);
    padding: 100px 5vw 5vw 5vw;
}
/* projects page styling */
#projects h1 {
    border-bottom: 5px solid var(--primary);
    width: fit-content;
    margin: auto;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
    padding: 30px;
    place-items: center;
    max-width: 1200px;
    margin: auto;
}
/* Tiles design, used in projects and blogs */
.link-tile {
    min-height: 525px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--primary);
    text-decoration: none;
    color: var(--white);
    border-radius: 5px;
    box-shadow: 8px 8px 10px 5px rgba(100, 100, 100, 0.3);

}

.link-tile img {
    height: 100%;
    width: 100%;
    object-fit: cover;
} 

.link-tile p {
    font-size: 1.5rem;
    padding: 10px;
}

.link-tile span {
     opacity: 0%;
     padding: 0 5px;
}

.link-tile:hover span {
    opacity: 100%;
    color: var(--tertiary);
    transition: opacity 0.25s ease-in;
}
/* resume styling */
.resume-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    min-height: 75vh;
    width: 100%;
    color: var(--primary);
    padding: 10vw 0;
}

#resume-preview {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.resume-content p {
    padding-bottom: 5vw;
}
/* blogs styling */
#blogs {
    background-color: var(--grey);
    color: var(--primary);
}

.blog-post {
    padding-top: 20vh;
}

.blog-image {
    width: 100%;
    max-width: 1000px;
    padding: 20px;
    height: 20vw;
    object-fit: cover;
}

.contain {
    object-fit: contain !important;
}

article > p {
    padding: 20px;
}
/* contact section styling */
#contacts {
    background-color: var(--primary);
    color: var(--white);
    display: flex;
    flex-direction: column;
    min-height: 25vh;
}

#contacts h1 {
    padding: 20px 0;
    font-size: 5rem;
}

#contacts .question {
    color: var(--tertiary);
    font-size: 2rem;
    font-style: italic;
}

#contacts .social-medias {
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    justify-content: space-around;
    margin: 20px auto;
}
/* transform links on hover for modern look */
#contacts .social-media {
    text-decoration: none !important;
    color: var(--base-100);
    transition: transform 0.2 ease-in;
    display: flex;
    align-items: center;
    margin: 20px;
    font-size: 1.8rem;
}

#contacts .social-media:hover {
    transform: translateY(10px);
}
/* footer styling */
footer {
    border-top: 3px solid var(--tertiary);
    background-color: var(--primary);
    color: var(--white);
    font-size: 25px;
    padding: 30px;
}
/* mobile specific styling */
@media only screen and (max-width: 482px) {
    body {
        overflow-x: hidden;
    }
    #navbar {
        font-size: 1rem;
        padding: 20px 0;
    }
    #nav-links {
        flex-wrap: wrap;
    }
    #hero {
        flex-direction: column;
        padding: 20px 0;
        margin-top: 10%;
        
    }
    #hero > div {
        padding-bottom: 10vw;
    }
    .profile-pic {
        padding: 15px 0 0 0;
        width: 0;
        height: 0;
        
    }
    .title {
        padding: 20% 0;
    }
    #skills #seperator {
        flex-direction: column;
        gap: 20px;
    }
    .icon {
        width: 75vw;
        display: flex;
        justify-content: space-between;
        gap: 20px;
    }
    #resume-preview {
        width: 70%;
        height: 70%;
    }
    #contacts h1 {
        font-size: 3rem;
    }
    #contacts .social-medias {
        flex-direction: column;
    }
}
/* tablet styling */
@media only screen and (min-width: 483px) {
    #navbar {
        font-size: 1.5rem;
        padding: 30px 0;
    }
    .title {
        padding: 10% 0;
    }
    .lang {
        padding: 5vw 0;
    }

    .resume-content {
        flex-direction: row;
    }

    #resume-preview {
        width: 50%;
        height: 50%;
    }

    .tablet-column {
        width: 50%;
        flex-direction: column;
    }
}
/* desktop styling */
@media only screen and (min-width: 1024px) {
    #navbar {
        font-size: 2rem;
    }
    
    p {
        font-size: 1.5rem;
    }
}