:root {
    --primary: #0f0e17;
    --secondary: #14213D;
    --tertiary: #FCA311;
    --grey: #E5E5E5;
    --white: #FFFFFF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: "Noto Serif", sans-serif;
    text-align: center;
}

h1, h3 {
    font-family: "Poppins", sans-serif;
}

.underline {
    text-decoration: underline;
}

#navbar {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    width: 100vw;
    background-color: var(--primary);
    padding: 20px 0;
    font-size: 1rem;
    border-bottom: 1px solid var(--secondary);
}

#nav-links {
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

#nav-links li a {
    text-decoration: none;
    padding: 0 10px;
    color: var(--white);
    text-align: center;
}

#nav-links li a:hover {
    text-decoration: underline;
}

#hero {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 100dvh;
    width: 100vw;
    background-color: var(--primary);
    padding-top: 80px;
}

.profile-pic {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
    padding-left: 10px;
}

#hero > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

}

.title {
    color: var(--white);
    font-size: 3rem;
    padding: 20%;
}

.subtitle {
    color: var(--tertiary);
    font-size: 1.5rem;
    padding-bottom: 20%;
}

#about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 75vh;
    width: 100vw;
    background-color: var(--white);
}

#about > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 0 20px;
}

#skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    min-height: 75vh;
    width: 100vw;
    padding: 10vw;
    background-color: var(--grey);
    color: var(--primary);
}

.skills-title {
    font-size: 3rem;
}

#seperator {
    padding: 10vw;
    border-bottom: 1px solid var(--primary);
    width: 100vw;
}

#skills ul {
    width: 90%;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
}

.lang {
    font-weight: bold;
    padding-bottom: 20px;
    font-family: "Poppins", sans-serif;
}

.skills-texts-div {
    padding: 5vw;
}

.skills-text {
    padding: 5vw;

}

.top-padding {
    padding-top: 5vw;
}

.see-more {
    text-decoration: none;
    width: max-content;
    display: flex;
    align-items: center;
    gap: 10px;
    margin: auto;
    padding: 3vw 3vw;
    background-color: var(--secondary);
    color: var(--tertiary);
    font-size: 1.5rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease-in;

}

.show-all:hover {
    background-color: var(--primary);
    color: var(--white);
    
}

#contacts {
    background-color: var(--primary);
    color: var(--white);
    display: flex;
    flex-direction: column;
}

#contacts h1 {
    padding: 20px 0;
    font-size: 5rem;
}

#contacts .question {
    color: var(--tertiary);
    font-size: 2rem;
    font-style: italic;
}

#contacts .social-medias {
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    justify-content: space-around;
    margin: 20px auto;
}

#contacts .social-media {
    text-decoration: none !important;
    color: var(--base-100);
    transition: transform 0.2 ease-in;
    display: flex;
    align-items: center;
    margin: 20px;
    font-size: 1.8rem;
}

#contacts .social-media:hover {
    transform: translateY(10px);
}

footer {
    border-top: 3px solid var(--tertiary);
    background-color: var(--primary);
    color: var(--white);
    font-size: 25px;
    padding: 30px;
}
    
@media only screen and (max-width: 482px) {
    body {
        overflow-x: hidden;
    }
    #navbar {
        font-size: 1rem;
        padding: 20px 0;
    }
    #nav-links {
        flex-wrap: wrap;
    }
    #hero {
        flex-direction: column;
        padding: 20px 0;
        margin-top: 10%;
        
    }
    #hero > div {
        padding-bottom: 10vw;
    }
    .profile-pic {
        padding: 15px 0 0 0;
        width: 0;
        height: 0;
        
    }
    .title {
        padding: 20% 0;
    }
    #skills ul {
        flex-direction: column;
        gap: 20px;
    }
    .icon {
        width: 75vw;
        display: flex;
        justify-content: space-between;
        gap: 20px;
    }
    #contacts h1 {
        font-size: 3rem;
    }
    #contacts .social-medias {
        flex-direction: column;
    }
}

@media only screen and (min-width: 483px) {
    #navbar {
        font-size: 1.5rem;
        padding: 30px 0;
    }
    .title {
        padding: 10% 0;
    }
    .lang {
        padding: 5vw 0;
    }
}